.cont-info {
width: 100%;
}
.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20rem;
    gap: 5px;
    margin-top: 2rem;
}
.info img {
width: 40%;
}
.info button {
    height: 2rem;
    width: 40%;
    background-color: blue;
    color: aliceblue;
}
.img-cont {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.img-cont h4 {
color: black;
}